#s-all {
  width: 100%; }

#bgc {
  width: 100%;
  height: 660px;
  background: url(img/hero-bg-2.jpg) no-repeat top center;
  background-size: 100%;
  position: relative; }

#bgc nav {
  width: 1000px;
  margin: 0 auto; }

#bgc nav h1 a {
  float: left;
  display: block;
  width: 160px;
  height: 50px;
  text-indent: -9999px;
  background: url(img/mobai-logo.png) no-repeat center center;
  background-size: 80%; }

#bgc nav ul {
  margin-top: 10px;
  width: 420px;
  float: right; }

#bgc nav ul li {
  width: 60px;
  float: left; }
  #bgc nav ul li a {
    color: #fff; }

#bgc h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 900;
  position: absolute;
  top: 200px;
  left: 460px;
  width: 430px; }

#bgc .statr a {
  display: inline-block;
  width: 300px;
  height: 60px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 345px;
  left: 520px;
  border-radius: 5px;
  display: none; }
  #bgc .statr a:hover {
    -webkit-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    transition: 0.5s all ease;
    background-color: rgba(0, 0, 0, 0.8); }

#nav-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex; }

#nav-bottom .nav-bottom-left {
  flex: 3;
  width: 60%;
  background: rgba(224, 80, 61, 0.2); }

#nav-bottom a {
  flex: 2;
  display: inline-block;
  width: 40%;
  background: red;
  opacity: 0.8; }
  #nav-bottom a:hover {
    background: red;
    opacity: 0.4; }

#nav-bottom .nav-bottom-right img {
  float: left; }

#nav-bottom .nav-bottom-right .mobaimobai {
  margin-left: 40px;
  float: left;
  margin-top: 15px;
  padding: 5px; }
  #nav-bottom .nav-bottom-right .mobaimobai h4, #nav-bottom .nav-bottom-right .mobaimobai p {
    font-size: 20px;
    color: #fff; }

#s-bottom-all {
  width: 100%;
  height: 1500px;
  background-color: #f0f2f5;
  padding-top: 20px; }

#s-fast {
  width: 1400px;
  height: 450px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff; }
  #s-fast .s-fast-left {
    width: 40%;
    height: 700px;
    position: relative;
    float: left;
    margin-top: -195px;
    background: url(img/section-phone.png) no-repeat top center;
    background-size: 85%; }
  #s-fast .s-fast-right {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-right: 80px;
    padding-left: 40px; }
    #s-fast .s-fast-right h3 {
      font-size: 3em;
      color: #e0503d;
      font-weight: bold; }
    #s-fast .s-fast-right p {
      font-size: 20px;
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px; }

#s-car {
  width: 1400px;
  height: 450px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fff;
  display: flex; }
  #s-car .s-car-left {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 80px;
    padding-left: 40px; }
    #s-car .s-car-left h3 {
      font-size: 3em;
      color: #e0503d;
      font-weight: bold;
      margin-top: 150px; }
    #s-car .s-car-left p {
      font-size: 20px;
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px; }
  #s-car .s-car-right {
    width: 700px;
    height: 450px;
    background: url(img/section-2.jpg) center;
    background-size: cover; }

#s-easy {
  width: 1400px;
  height: 450px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #fff;
  display: flex; }
  #s-easy .s-easy-left {
    width: 50%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding-right: 80px;
    padding-left: 40px; }
    #s-easy .s-easy-left h3 {
      font-size: 3em;
      color: #e0503d;
      font-weight: bold;
      margin-top: 150px; }
    #s-easy .s-easy-left p {
      font-size: 20px;
      display: block;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px; }
  #s-easy .s-easy-right {
    width: 700px;
    height: 450px;
    background: url(img/section-3.jpg) center;
    background-size: cover; }

#s-class {
  width: 100%;
  height: 900px;
  background: url(img/product-callout.jpg) no-repeat bottom center;
  background-size: cover;
  margin-top: -150px; }
  #s-class h2 {
    width: 800px;
    height: 200px;
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
    border-sizing: border-box;
    padding-top: 100px; }
  #s-class a {
    display: block;
    width: 400px;
    height: 80px;
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    line-height: 80px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    border-radius: 6px; }
    #s-class a:hover {
      -webkit-transition: 0.5s all ease;
      -ms-transition: 0.5s all ease;
      -moz-transition: 0.5s all ease;
      transition: 0.5s all ease;
      background-color: rgba(0, 0, 0, 0.9); }

#s-down-all {
  width: 100%;
  border-bottom: 1px solid #ccc; }

#s-sfooter {
  width: 1200px;
  margin: 40px auto;
  display: flex; }
  #s-sfooter .s-small {
    margin-top: 25px;
    height: 100px;
    box-sizing: border-box;
    flex: 1; }
    #s-sfooter .s-small .s-sicon {
      width: 60px;
      height: 50px;
      background: url(img/icon-wechat.png) no-repeat center;
      background-size: contain;
      float: left; }
    #s-sfooter .s-small .s-stext {
      margin-left: 75px; }
      #s-sfooter .s-small .s-stext h4 {
        font-size: 20px; }
      #s-sfooter .s-small .s-stext p {
        font-size: 20px; }
  #s-sfooter .s-red {
    margin-top: 25px;
    box-sizing: border-box;
    flex: 1; }
    #s-sfooter .s-red .s-sicon {
      width: 60px;
      height: 50px;
      background: url(img/icon-rp.png) no-repeat center;
      background-size: contain;
      float: left; }
    #s-sfooter .s-red .s-stext {
      margin-left: 75px; }
      #s-sfooter .s-red .s-stext h4 {
        font-size: 20px; }
      #s-sfooter .s-red .s-stext p {
        font-size: 20px; }
  #s-sfooter .s-xin {
    margin-top: 25px;
    box-sizing: border-box;
    flex: 1; }
    #s-sfooter .s-xin .s-sicon {
      width: 60px;
      height: 50px;
      background: url(img/icon-xinyong.png) no-repeat center;
      background-size: contain;
      float: left; }
    #s-sfooter .s-xin .s-stext {
      margin-left: 75px; }
      #s-sfooter .s-xin .s-stext h4 {
        font-size: 20px; }
      #s-sfooter .s-xin .s-stext p {
        font-size: 20px; }

footer {
  width: 1300px;
  height: 300px;
  margin: 20px auto;
  display: flex;
  margin-bottom: 80px; }
  footer #s-footer-lfet {
    height: 300px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-left: 40px; }
    footer #s-footer-lfet li {
      font-size: 18px;
      margin: 5px; }
    footer #s-footer-lfet .s-sul-li {
      font-size: 16px;
      color: #999; }
      footer #s-footer-lfet .s-sul-li img {
        width: 20px;
        height: 20px; }
  footer #s-footer-right {
    margin-top: 80px;
    margin-left: 80px; }
    footer #s-footer-right h3 {
      font-size: 25px;
      font-weight: 900;
      margin-bottom: 20px; }
    footer #s-footer-right li {
      font-size: 20px;
      margin-top: 15px; }
    footer #s-footer-right .s-right-first {
      width: 150px;
      height: 150px;
      box-sizing: border-box;
      margin-left: 30px;
      float: left; }
    footer #s-footer-right .s-right-second {
      width: 150px;
      height: 150px;
      margin-left: 30px;
      box-sizing: border-box;
      float: left; }
    footer #s-footer-right .s-right-third {
      width: 150px;
      height: 150px;
      margin-left: 30px;
      box-sizing: border-box;
      float: left; }
    footer #s-footer-right .s-right-wechat {
      width: 150px;
      height: 150px;
      margin-left: 30px;
      box-sizing: border-box;
      float: left; }

/*# sourceMappingURL=mobai.css.map */
